.g-gridlines {
    pointer-events: none;
}

.g-gridlines .domain {
    display: none;
    user-select: none;
}

.g-gridlines.left .tick:first-of-type {
    display: none;
}

.g-gridlines.bottom .tick:first-of-type {
    display: none;
}

.g-gridlines.right .tick:last-of-type {
    display: none;
}

.g-gridlines.top .tick:last-of-type {
    display: none;
}
