# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage
*.dirty.png
__diff_output__

# production
/build
/dist
/lib

# storybook
out*
storybook-static
build-storybook.log

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache

.log
