node_modules

# tuborepo
.turbo

# jest
coverage
*.dirty.png
__diff_output__

# production
build
dist

# storybook
out*
storybook-static
build-storybook.log

# misc
.env.production.local
.eslintcache
