.dark .chart {
    background-color: #333333;
}

.dark .chart-svg {
    background: #333333;
}

.dark .g-axis {
    color: #cccccc;
}

.dark .g-gridlines {
    color: #555555;
    stroke-opacity: 0.8;
}
